<div class="section">
  <div class="section-title">Employment History</div>

  <div class="entry" *ngFor="let employment of employments">
    <div class="entry-title">{{employment.employer}}</div>
    <div>{{employment.title}}</div>
    <div>{{employment.dateStart}} - {{employment.dateEnd}}</div>
  </div>
</div>

<div class="section">
  <div class="section-title">Voluntary Experience</div>

  <div class="entry" *ngFor="let voluntary of voluntaries">
    <div class="entry-title">{{voluntary.employer}}</div>
    <div>{{voluntary.title}}</div>
    <div>{{voluntary.dateStart}} - {{voluntary.dateEnd}}</div>
  </div>
</div>