<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div>
    <div>
      <span class="title">BRIAN TRIA</span>
      <span class="subtitle"> | Software Engineer</span>
    </div>

    <div>
      (+971) 54 422 8791  |  
      <a href="mailto:brian.tria.se@gmail.com">brian.tria.se@gmail.com</a> | 
      <a href="https://www.linkedin.com/in/briantria">linkedin.com/in/briantria</a>
    </div>
    
    <hr>

    <div class="section">
      <div class="section-title">PROJECTS</div>

      <div class="entry">
        <div class="entry-title">MLB Line Drive</div>
        Lead Software Developer | 
        <a href="https://play.google.com/store/apps/details?id=com.mlb.SlamCity15&hl=en">Android</a> | 
        <a href="https://itunes.apple.com/us/app/mlb-com-line-drive/id992156829?mt=8">iOS</a>
      </div>

      <div class="entry">
        <div class="entry-title">Yu Gi Oh! Duel Generation</div>
        Frontend Software Developer | 
        <a href="https://play.google.com/store/apps/details?id=com.konami.ygodgtest&hl=en">Android</a> |
        <a href="https://itunes.apple.com/us/app/yu-gi-oh-duel-generation/id883078087?mt=8">iOS</a>
      </div>

      <div class="entry">
        <div class="entry-title">Tinted</div>
        Frontend Software Developer | 
        <a href="https://play.google.com/store/apps/details?id=com.lbstudios.tinted&hl=en">Android</a>
      </div>

      <div class="entry">
        <div class="entry-title">Throw with Joe</div>
        Fullstack Software Developer | 
        <a href="https://www.tapscape.com/throw-with-joe-iphone-game-review/">Review</a>
      </div>
    </div>

    <span>last update: 2018/01/15-23:46</span>
</div>
