<div>
    <div>
      <span class="title">BRIAN TRIA</span>
      <span class="subtitle"> | Software Engineer</span>
    </div>

    <div>
      <a class="image-link" href="https://github.com/briantria/briantria.github.io/tree/angular">
        <img src="assets/github.png" alt="github">
      </a>

      <a class="image-link" href="https://www.linkedin.com/in/briantria">
        <img src="assets/linkedin.png" alt="linkedin">
      </a>

      <a class="image-link" href="https://twitter.com/briangtria">
        <img src="assets/twitter.png" alt="twitter">
      </a>

      (+971) 54 422 8791 
      <a href="mailto:brian.tria.se@gmail.com">brian.tria.se@gmail.com</a>
      <!-- <a href="https://www.linkedin.com/in/briantria">linkedin.com/in/briantria</a> -->

      <!-- TODO:
        - link to github: briantria.github.io
        - link to twitter
        - link to FB page <briantria.github.io>
        - icons: mail, linkedin, github, twitter, fb
      -->
    </div>
    
    <hr>

    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/experience">Experience</a>
      <a routerLink="/education">Education</a>
    </nav>
  
    <router-outlet></router-outlet>

</div>
