.title {
    font-size: 24pt;
    font-weight: bold
}

.subtitle {
    font-size: 16pt
}

.section {
    padding: 5pt
}

.section-title {
    font-size: 14pt;
    padding-bottom: 5pt;
    font-weight: bold
}

.entry {
    padding: 5pt
}

.entry-title {
    font-weight: bold
}