/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    padding: 0px;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt */
}

#app-wrapper {
    min-height: 100vh;
    margin: 0 auto -10em;
}

footer, #push {
    height: 10em;
}

/* main {
    
} */

/************ OLD STYLE **********************/
/* body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt
} */

a img {
    border: 0 none;
}

.image-link {
    text-decoration: none;
}

.title {
    font-size: 24pt;
    font-weight: bold
}

.subtitle {
    font-size: 16pt
}

.section {
    padding: 5pt
}

.section-title {
    font-size: 14pt;
    padding-bottom: 5pt;
    font-weight: bold
}

.entry {
    padding: 5pt
}

.entry-title {
    font-weight: bold
}