/* You can add global styles to this file, and also import other style files */
body {
    margin: 0.25in;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt
}

.title {
    font-size: 24pt;
    font-weight: bold
}

.subtitle {
    font-size: 16pt
}

.section {
    padding: 5pt
}

.section-title {
    font-size: 14pt;
    padding-bottom: 5pt;
    font-weight: bold
}

.entry {
    padding: 5pt
}

.entry-title {
    font-weight: bold
}